:root {
	--pp-z-layer-ui: 1;
}


pp-deck {
	display:block;
}
pp-portfolio {
	display:flex;
	ol {
		min-width: 7rem;
	}
}
pp-deck pp-card {
	position: relative;
	&[selected]{
		top: -2rem;
		border: solid red 1px;
	}
}
pp-gamelanecollector{
	border: solid 1px black;
	background-color: #eeeeee;
	display: inline-block;
	height: 10.5rem;
	aspect-ratio: 4 / 7;
}
pp-card,
pp-cardslot {
	border: solid 1px black;
	display: inline-block;
	height: 10.5rem;
	aspect-ratio: 5 / 7;
	&[player] {
		background-color: #f1d2d2;;
	}
	&[player][sessionplayer] {
		background-color: #d2eed2;
	}
	i {
		display: inline;
		position: absolute;
	}
}
pp-gameboard {
	div {
		display:flex;
	}
	pp-slot {
		position: relative;
	}
	pp-card {
		position:relative;
		display: block;
		/* height: 100%; */
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
	}
}
pp-card {
	height: 10rem;
	svg {
		width: 45%;
		aspect-ratio: 1;
		background-color: gray;
		display: block;
		margin: auto;
	}
	background-color: #eeeeee;
	rect.center {
		fill: white;
	}
	rect.pawn {
		fill: yellow;
	}
	rect.affect {
		stroke: red;
	}
	& > div {
		display: table;
		width: 100%;
		height: 60%;
	}
	[data-prop="cardType.name"] {
		font-weight: bold;
		text-align: center;
		margin: 0 0.25rem;
		border-bottom: solid 1px;
	}
	[data-prop="cardType.pawnRequirement"],
	[data-prop="cardType.power"],
	[data-prop="cardType.replacer"] {
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	[data-prop="cardType.pawnRequirement"]::before,
	[data-prop="cardType.power"]::before,
	[data-prop="cardType.replacer"]::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-weight: 900;
		font: var(--fa-font-solid);
	}
	[data-prop="cardType.pawnRequirement"]::before {
		content: '\f443';
	}
	[data-prop="cardType.power"]::before {
		content: '\f6de';
	}
	[data-prop="cardType.replacer"]::before {
		/* angles-down */
		content: '\f103';
	}
	[data-prop="cardType.replacer"]::before {
		content: '\f0c5';
	}
	
	[data-prop="cardType.effect"] {
		background-color: #cccccc;
		text-align: center;
		margin: 0.25rem 0;
		&::before {
			visibility: visible;
			display: inline-block;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-weight: 900;
			font: var(--fa-font-solid);
			content: '\f005';
		}
		&> div {
			display: inline-block
		}
		[data-prop="cardType.effect.addCards"]:before {
			visibility: visible;
			display: inline-block;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font-weight: 900;
			font: var(--fa-font-solid);
			/* copy */
			content: '\f0c5';
		}
		[data-prop="cardType.effect.target"] {
			visibility: hidden;
			&::before {
				visibility: visible;
				display: inline-block;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				font-weight: 900;
				font: var(--fa-font-solid);
			}
			&[data-prop-value="ally"]::before {
				/* Face smile */
				content: '\f118';
			}
			&[data-prop-value="enemy"]::before {
				/* Face smile */
				content: '\f556';
			}
		}
	}
}


pp-card:is(:--enhanced, :state(--enhanced)) {
	background-color: #d2eed2;
}
pp-card:is(:--enfeebled, :state(--enfeebled)) {
	background-color: #f1d2d2;
}

pp-gamelog {
	position: absolute;
	top: 0;
	left: 50%;
	margin: auto;
	transform: translatex(-50%);
	height: 1rem;
	overflow-y: clip;
	background-color: grey;
	z-index: var(--pp-z-layer-ui);
	&:hover {
		overflow-y: auto;
		height: auto;
		background-color: grey;
	}
}